@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: theme('colors.dark-gray');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: theme('colors.dark-gray');
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
